<%- include('./partials/header.ejs') %>


<div class="row">
    <div class="col-6 m-auto">
        <h1>New Form to Post a Notification</h1>
        <form action="/notifications" method="post">
            <div class="mb-3">
                <label for="body" class="form-label"> Notification Body</label>
                <input type="text" class="form-control" id="body" name="body">
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="author">
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Add a New Notification">
            </div>
        </form>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
